#%RAML 0.8
title: "Box Content API"
version: "2.0"
baseUri: "https://api.box.com/2.0"
schemas: 
    - 
        "newFolder": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "name": {
                      "type": "string",
                      "required": true
                    },
                    "parent": {
                      "required": true,
                      "id": {
                        "type": "integer",
                        "required": true
                      }
                    }
                  }
                }
    - 
        "updateFolder": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": "true",
                  "properties": {
                    "name": {
                      "type": "string",
                      "required": "false"
                    },
                    "description": {
                      "type": "string",
                      "required": "false"
                    },
                    "parent": {
                      "required": "false",
                      "id": {
                        "type": "integer",
                        "required": "true"
                      }
                    },
                    "shared_link": {
                      "required": "false",
                      "access": {
                        "description": "The level of access required for this shared link. Can be open, company, collaborators.",
                        "type": "integer",
                        "required": "true"
                      },
                      "unshared_at": {
                        "description": "The day that this link should be disabled at. RFC-3339 valid date-timestamps are rounded off to the given day.",
                        "type": "timestamp",
                        "required": "false"
                      },
                      "permissions": {
                        "description": "The set of permissions that apply to this link.",
                        "required": "false",
                        "can_download": {
                          "type": "boolean",
                          "required": false
                        },
                        "can_preview": {
                          "type": "boolean",
                          "required": false
                        }
                      },
                      "folder_upload_email": {
                        "required": "false",
                        "access": {
                          "description": "Can be open or collaborators.",
                          "type": "string",
                          "required": "true"
                        }
                      },
                      "owned_by": {
                        "required": "false",
                        "id": {
                          "description": "The ID of the user, should be your own user ID.",
                          "type": "string",
                          "required": "true"
                        }
                      },
                      "sync_state": {
                        "description": "Whether Box Sync clients will sync this folder. Values of synced or not_synced can be sent, while partially_synced may also be returned.",
                        "type": "string",
                        "required": "false"
                      },
                      "tags": {
                        "description": "All tags attached to this folder. To add/remove a tag to/from a folder, you can first get the folder’s current tags (be sure to specify ?fields=tags, since the tags field is not returned by default); then modify the list as required; and finally, set the folder’s entire list of tags.",
                        "type": "string",
                        "required": "false"
                      }
                    }
                  }
                }
    - 
        "parent": |
                {
                  "required": "true",
                  "id": {
                    "type": "integer",
                    "required": "true"
                  }
                }
    - 
        "updateFile": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": "false",
                  "properties": {
                    "name": {
                      "type": "string",
                      "required": "false"
                    },
                    "description": {
                      "type": "string",
                      "required": "false"
                    },
                    "parent": {
                      "required": "false",
                      "id": {
                        "type": "integer",
                        "required": "true"
                      }
                    },
                    "shared_link": {
                      "required": "false",
                      "access": {
                        "description": "The level of access required for this shared link. Can be open, company, collaborators.",
                        "type": "integer",
                        "required": "true"
                      },
                      "unshared_at": {
                        "description": "The day that this link should be disabled at. RFC-3339 valid date-timestamps are rounded off to the given day.",
                        "type": "timestamp",
                        "required": "false"
                      },
                      "permissions": {
                        "description": "The set of permissions that apply to this link.",
                        "required": "false",
                        "download": {
                          "type": "boolean",
                          "required": false
                        },
                        "preview": {
                          "type": "boolean",
                          "required": false
                        }
                      },
                      "tags": {
                        "description": "All tags attached to this file. To add/remove a tag to/from a file, you can first get the file’s current tags (be sure to specify ?fields=tags, since the tags field is not returned by default); then modify the list as required; and finally, set the file’s entire list of tags.Type: array of strings",
                        "type": "string",
                        "required": "false"
                      }
                    }
                  }
                }
    - 
        "lock": |
                {
                  "required": "false",
                  "type": {
                    "type": "string",
                    "required": "false"
                  },
                  "expires_at": {
                    "type": "timestamp",
                    "required": "false"
                  },
                  "is_download_prevented": {
                    "type": "boolean",
                    "required": "false"
                  }
                }
    - 
        "uploadFile": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": "false",
                  "properties": {
                    "name": {
                      "type": "string",
                      "required": "true"
                    },
                    "parent": {
                      "required": "true",
                      "id": {
                        "type": "integer",
                        "required": "true"
                      }
                    },
                    "content_created_at": {
                      "required": "false",
                      "type": "timestamp",
                      "required": "true"
                    },
                    "content_modified_at": {
                      "required": "false",
                      "type": "timestamp",
                      "required": "true"
                    }
                  }
                }
    - 
        "newComment": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "item": {
                      "required": false,
                      "type": {
                        "type": "integer",
                        "required": true
                      },
                      "id": {
                        "type": "integer",
                        "required": true
                      }
                    },
                    "message": {
                      "type": "string",
                      "required": false
                    },
                    "tagged_message": {
                      "type": "string",
                      "required": false
                    }
                  }
                }
    - 
        "newCollab": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "item": {
                      "required": false,
                      "type": {
                        "type": "string",
                        "required": false
                      },
                      "id": {
                        "type": "integer",
                        "required": false
                      }
                    },
                    "accessible_by": {
                      "required": false,
                      "type": {
                        "type": "integer",
                        "required": false
                      },
                      "id": {
                        "type": "string",
                        "required": false
                      },
                      "login": {
                        "type": "string",
                        "required": false
                      }
                    },
                    "role": {
                      "type": "string",
                      "required": false
                    }
                  }
                }
    - 
        "shared_item": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "item": {
                      "required": false,
                      "type": {
                        "type": "integer",
                        "required": true
                      },
                      "id": {
                        "type": "integer",
                        "required": true
                      }
                    },
                    "message": {
                      "type": "string",
                      "required": false
                    },
                    "tagged_message": {
                      "type": "string",
                      "required": false
                    }
                  }
                }
    - 
        "owned_by": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "owned_by": {
                      "description": "The user who the folder will be transferred to",
                      "required": true,
                      "id": {
                        "description": "The ID of the user who the folder will be transferred to",
                        "type": "string",
                        "required": true
                      }
                    }
                  }
                }
    - 
        "groupMember": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "user": {
                      "description": "The user to assign to a group",
                      "required": true,
                      "id": {
                        "description": "The ID of the user to add to the group",
                        "type": "string",
                        "required": true
                      }
                    },
                    "group": {
                      "description": "The group this user is to be added to",
                      "required": true,
                      "id": {
                        "description": "TThe ID of the group to add the user into.",
                        "type": "string",
                        "required": false
                      }
                    },
                     "role": {
                      "description": "The role of the user in the group. Default is “member” option for “admin”",
                      "required": false,
                      "type": "string"
                    }
                  }
                }
    - 
        "taskItem": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "item": {
                      "description": "The item this task is for",
                      "required": true,
                      "type": {
                        "description": "The type of the item this task is for (currently only file is supported)",
                        "type": "string",
                        "required": true
                      },
                      "id": {
                        "description": "The ID of the item this task is for",
                        "type": "string",
                        "required": true
                      }
                    },
                    "action": {
                      "description": "The action the task assignee will be prompted to do. Must be review",
                      "required": true,
                      "type": "string"
                    },
                     "message": {
                      "description": "An optional message to include with the task",
                      "required": false,
                      "type": "string"
                    },
                    "due_at": {
                      "description": "The day at which this task is due",
                      "required": false,
                      "type": "timestamp"
                    }
                  }
                }
    - 
        "taskAssignment": |
                {
                  "type": "object",
                  "$schema": "http://json-schema.org/draft-03/schema",
                  "id": "http://jsonschema.net",
                  "required": false,
                  "properties": {
                    "task": {
                      "description": "The task this assignment is for",
                      "required": true,
                      "type": {
                        "description": "Must be task",
                        "type": "string",
                        "required": true
                      },
                      "id": {
                        "description": "The ID of the task this assignment is for",
                        "type": "string",
                        "required": true
                      }
                    },
                    "assign_to": {
                      "description": "The user this assignment is for. At least one of id or login is required in this object.",
                      "required": true,
                      "id": {
                        "description": "The ID of the user this assignment is for.",
                        "type": "string",
                        "required": false
                      },
                      "login": {
                        "description": "The login email address for the user this assignment is for.",
                        "type": "string",
                        "required": false
                      }
                    }
                  }
                }
securitySchemes: 
    - 
        "oauth_2_0": 
            description: |
                Dropbox supports OAuth 2.0 for authenticating all API requests.
            type: "OAuth 2.0"
            describedBy: 
                headers: 
                    "Authorization": 
                        description: |
                            Used to send a valid OAuth 2 access token. Do not use
                            with the "access_token" query string parameter.
                        type: string
                        required: false
                        repeat: false
                queryParameters: 
                    "access_token": 
                        description: |
                            Used to send a valid OAuth 2 access token. Do not use together with
                            the "Authorization" header
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "401": 
                        description: |
                            Bad or expired token. This can happen if the user or Dropbox
                            revoked or expired an access token. To fix, you should re-
                            authenticate the user.
                    "403": 
                        description: |
                            Bad OAuth request (wrong consumer key, bad nonce, expired
                            imestamp...). Unfortunately, re-authenticating the user won't help here.
            settings: 
                authorizationUri: "https://app.box.com/api/oauth2/authorize"
                accessTokenUri: "https://app.box.com/api/oauth2/token"
                authorizationGrants: ["authorization_code"]
securedBy: 
    - 
        oauth_2_0
"/folders": 
    displayName: "folders"
    post: 
        description: "<<crete a new folder>>"
        body: 
            "application/json": 
                schema: "newFolder"
        responses: 
            "200": 
                body: 
                    "application/json": 
                        example: |
                            {
                              "type": "folder",
                              "id": "11446498",
                              "sequence_id": "1",
                              "etag": "1",
                              "name": "Pictures",
                              "created_at": "2012-12-12T10:53:43-08:00",
                              "modified_at": "2012-12-12T11:15:04-08:00",
                              "description": "Some pictures I took",
                              "size": 629644,
                              "path_collection": {
                                  "total_count": 1,
                                  "entries": [
                                      {
                                          "type": "folder",
                                          "id": "0",
                                          "sequence_id": null,
                                          "etag": null,
                                          "name": "All Files"
                                      }
                                  ]
                              },
                              "created_by": {
                                  "type": "user",
                                  "id": "17738362",
                                  "name": "sean rose",
                                  "login": "sean@box.com"
                              },
                              "modified_by": {
                                  "type": "user",
                                  "id": "17738362",
                                  "name": "sean rose",
                                  "login": "sean@box.com"
                              },
                              "owned_by": {
                                  "type": "user",
                                  "id": "17738362",
                                  "name": "sean rose",
                                  "login": "sean@box.com"
                              },
                              "shared_link": {
                                  "url": "https://www.box.com/s/vspke7y05sb214wjokpk",
                                  "download_url": null,
                                  "vanity_url": null,
                                  "is_password_enabled": false,
                                  "unshared_at": null,
                                  "download_count": 0,
                                  "preview_count": 0,
                                  "access": "open",
                                  "permissions": {
                                      "can_download": true,
                                      "can_preview": true
                                  }
                              },
                              "folder_upload_email": {
                                  "access": "open",
                                  "email": "upload.Picture.k13sdz1@u.box.com"
                              },
                              "parent": {
                                  "type": "folder",
                                  "id": "0",
                                  "sequence_id": null,
                                  "etag": null,
                                  "name": "All Files"
                              },
                              "item_status": "active",
                              "item_collection": {
                                  "total_count": 0,
                                  "entries": [],
                                  "offset": 0,
                                  "limit": 100
                              }
                            }
    "/{id}": 
        displayName: "folder id"
        uriParameters: 
            "id": 
                displayName: "id"
                type: string
                required: true
                repeat: false
        post: 
            description: "<<Restores an item that has been moved to the trash. Default behavior is to restore the item to the folder it was in before it was moved to the trash. If that parent folder no longer exists or if there is now an item with the same name in that parent folder, the new parent folder and/or new name will need to be included in the request.>>"
            body: 
                "application/json": 
                    schema: "newFolder"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "folder",
                                  "id": "588970022",
                                  "sequence_id": "2",
                                  "etag": "2",
                                  "name": "heloo world",
                                  "created_at": "2013-01-15T16:15:27-08:00",
                                  "modified_at": "2013-02-07T13:26:00-08:00",
                                  "description": "",
                                  "size": 0,
                                  "path_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          }
                                      ]
                                  },
                                  "created_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "trashed_at": null,
                                  "purged_at": null,
                                  "content_created_at": "2013-01-15T16:15:27-08:00",
                                  "content_modified_at": "2013-02-07T13:26:00-08:00",
                                  "owned_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "shared_link": null,
                                  "folder_upload_email": null,
                                  "parent": {
                                      "type": "folder",
                                      "id": "0",
                                      "sequence_id": null,
                                      "etag": null,
                                      "name": "All Files"
                                  },
                                  "item_status": "active"
                                }
        delete: 
            description: "<<Used to delete a folder. A recursive parameter must be included in order to delete folders that have items inside of them. An optional If-Match header can be included to ensure that client only deletes the folder if it knows about the latest version.>>"
            headers: 
                "If-Match": 
                    type: string
                    required: false
                    repeat: false
            queryParameters: 
                "fields": 
                    type: string
                    required: false
                    repeat: false
                "recursive": 
                    type: boolean
                    required: false
                    repeat: false
        put: 
            description: "<<Update Information About a Folder>>"
            headers: 
                "If-Match": 
                    type: string
                    required: false
                    repeat: false
            body: 
                "application/json": 
                    schema: "updateFolder"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "folder",
                                  "id": "11446498",
                                  "sequence_id": "1",
                                  "etag": "1",
                                  "name": "New Folder Name!",
                                  "created_at": "2012-12-12T10:53:43-08:00",
                                  "modified_at": "2012-12-12T11:15:04-08:00",
                                  "description": "Some pictures I took",
                                  "size": 629644,
                                  "path_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          }
                                      ]
                                  },
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "owned_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "shared_link": {
                                      "url": "https://www.box.com/s/vspke7y05sb214wjokpk",
                                      "download_url": null,
                                      "vanity_url": null,
                                      "is_password_enabled": false,
                                      "unshared_at": null,
                                      "download_count": 0,
                                      "preview_count": 0,
                                      "access": "open",
                                      "permissions": {
                                          "can_download": true,
                                          "can_preview": true
                                      }
                                  },
                                  "folder_upload_email": {
                                      "access": "open",
                                      "email": "upload.Picture.k13sdz1@u.box.com"
                                  },
                                  "parent": {
                                      "type": "folder",
                                      "id": "0",
                                      "sequence_id": null,
                                      "etag": null,
                                      "name": "All Files"
                                  },
                                  "item_status": "active",
                                  "item_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "file",
                                              "id": "5000948880",
                                              "sequence_id": "3",
                                              "etag": "3",
                                              "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                              "name": "tigers.jpeg"
                                          }
                                      ],
                                      "offset": 0,
                                      "limit": 100
                                  }
                                }
        get: 
            description: "<<get information about a folder>>"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "folder",
                                  "id": "11446498",
                                  "sequence_id": "1",
                                  "etag": "1",
                                  "name": "Pictures",
                                  "created_at": "2012-12-12T10:53:43-08:00",
                                  "modified_at": "2012-12-12T11:15:04-08:00",
                                  "description": "Some pictures I took",
                                  "size": 629644,
                                  "path_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          }
                                      ]
                                  },
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "owned_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "shared_link": {
                                      "url": "https://www.box.com/s/vspke7y05sb214wjokpk",
                                      "download_url": null,
                                      "vanity_url": null,
                                      "is_password_enabled": false,
                                      "unshared_at": null,
                                      "download_count": 0,
                                      "preview_count": 0,
                                      "access": "open",
                                      "permissions": {
                                          "can_download": true,
                                          "can_preview": true
                                      }
                                  },
                                  "folder_upload_email": {
                                      "access": "open",
                                      "email": "upload.Picture.k13sdz1@u.box.com"
                                  },
                                  "parent": {
                                      "type": "folder",
                                      "id": "0",
                                      "sequence_id": null,
                                      "etag": null,
                                      "name": "All Files"
                                  },
                                  "item_status": "active",
                                  "item_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "file",
                                              "id": "5000948880",
                                              "sequence_id": "3",
                                              "etag": "3",
                                              "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                              "name": "tigers.jpeg"
                                          }
                                      ],
                                      "offset": 0,
                                      "limit": 100
                                  }
                                }
        "/item": 
            displayName: "folder item"
            get: 
                description: "<<get the folder Item>>"
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                    "limt": 
                        type: string
                        required: false
                        repeat: false
                    "offset": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "total_count": 24,
                                      "entries": [
                                        {
                                          "type": "folder",
                                          "id": "192429928",
                                          "sequence_id": "1",
                                          "etag": "1",
                                          "name": "Stephen Curry Three Pointers"
                                        },
                                        {
                                          "type": "file",
                                          "id": "818853862",
                                          "sequence_id": "0",
                                          "etag": "0",
                                          "name": "Warriors.jpg"
                                        }
                                      ],
                                      "offset": 0,
                                      "limit": 2,
                                      "order": [
                                        {
                                          "by": "type",
                                          "direction": "ASC"
                                        },
                                        {
                                          "by": "name",
                                          "direction": "ASC"
                                        }
                                      ]
                                    }
        "/copy": 
            displayName: "Used to create a copy of a folder in another folder. The original version of the folder will not be altered."
            post: 
                body: 
                    "application/json": 
                        schema: "newFolder"
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "type": "folder",
                                      "id": "11446498",
                                      "sequence_id": "1",
                                      "etag": "1",
                                      "name": "Pictures",
                                      "created_at": "2012-12-12T10:53:43-08:00",
                                      "modified_at": "2012-12-12T11:15:04-08:00",
                                      "description": "Some pictures I took",
                                      "size": 629644,
                                      "path_collection": {
                                          "total_count": 1,
                                          "entries": [
                                              {
                                                  "type": "folder",
                                                  "id": "0",
                                                  "sequence_id": null,
                                                  "etag": null,
                                                  "name": "All Files"
                                              }
                                          ]
                                      },
                                      "created_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "modified_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "owned_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "shared_link": {
                                          "url": "https://www.box.com/s/vspke7y05sb214wjokpk",
                                          "download_url": null,
                                          "vanity_url": null,
                                          "is_password_enabled": false,
                                          "unshared_at": null,
                                          "download_count": 0,
                                          "preview_count": 0,
                                          "access": "open",
                                          "permissions": {
                                              "can_download": true,
                                              "can_preview": true
                                          }
                                      },
                                      "folder_upload_email": {
                                          "access": "open",
                                          "email": "upload.Picture.k13sdz1@u.box.com"
                                      },
                                      "parent": {
                                          "type": "folder",
                                          "id": "0",
                                          "sequence_id": null,
                                          "etag": null,
                                          "name": "All Files"
                                      },
                                      "item_status": "active",
                                      "item_collection": {
                                          "total_count": 1,
                                          "entries": [
                                              {
                                                  "type": "file",
                                                  "id": "5000948880",
                                                  "sequence_id": "3",
                                                  "etag": "3",
                                                  "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                                  "name": "tigers.jpeg"
                                              }
                                          ],
                                          "offset": 0,
                                          "limit": 100
                                      }
                                    }
        "/collaborations": 
            displayName: "Use this to get a list of all the collaborations on a folder i.e. all of the users that have access to that folder."
            get: 
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "collaboration",
                                              "id": "14176246",
                                              "created_by": {
                                                  "type": "user",
                                                  "id": "4276790",
                                                  "name": "David Lee",
                                                  "login": "david@box.com"
                                              },
                                              "created_at": "2011-11-29T12:56:35-08:00",
                                              "modified_at": "2012-09-11T15:12:32-07:00",
                                              "expires_at": null,
                                              "status": "accepted",
                                              "accessible_by": {
                                                  "type": "user",
                                                  "id": "755492",
                                                  "name": "Simon Tan",
                                                  "login": "simon@box.net"
                                              },
                                              "role": "editor",
                                              "acknowledged_at": "2011-11-29T12:59:40-08:00",
                                              "item": null
                                          }
                                      ]
                                    }
        "/trash": 
            displayName: "trash items"
            delete: 
                description: "<<Permanently deletes an item that is in the trash. The item will no longer exist in Box. This action cannot be undone. An empty 204 No Content response will be returned upon successful deletion>>"
            get: 
                description: "<<Retrieves an item that has been moved to the trash.>>"
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "type": "folder",
                                      "id": "588970022",
                                      "sequence_id": "1",
                                      "etag": "1",
                                      "name": "heloo world",
                                      "created_at": "2013-01-15T16:15:27-08:00",
                                      "modified_at": "2013-01-17T13:48:23-08:00",
                                      "description": "",
                                      "size": 0,
                                      "path_collection": {
                                          "total_count": 1,
                                          "entries": [
                                              {
                                                  "type": "folder",
                                                  "id": "1",
                                                  "sequence_id": null,
                                                  "etag": null,
                                                  "name": "Trash"
                                              }
                                          ]
                                      },
                                      "created_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "modified_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "trashed_at": "2013-02-07T12:53:32-08:00",
                                      "purged_at": "2013-03-09T12:53:32-08:00",
                                      "content_created_at": "2013-01-15T16:15:27-08:00",
                                      "content_modified_at": "2013-01-17T13:48:23-08:00",
                                      "owned_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "shared_link": null,
                                      "folder_upload_email": null,
                                      "parent": {
                                          "type": "folder",
                                          "id": "0",
                                          "sequence_id": null,
                                          "etag": null,
                                          "name": "All Files"
                                      },
                                      "item_status": "trashed"
                                    }
    "/trash/items": 
        displayName: "trash items"
        get: 
            description: "<<Retrieves the files and/or folders that have been moved to the trash. Any attribute in the full files or folders objects can be passed in with the fields parameter to get specific attributes, and only those specific attributes back; otherwise, the mini format is returned for each item by default. Multiple attributes can be passed in separated by commas e.g. fields=name,created_at. Paginated results can be retrieved using the limit and offset parameters.>>"
            queryParameters: 
                "fields": 
                    type: string
                    required: false
                    repeat: false
                "limt": 
                    type: string
                    required: false
                    repeat: false
                "offset": 
                    type: string
                    required: false
                    repeat: false
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "total_count": 49542,
                                  "entries": [
                                      {
                                          "type": "file",
                                          "id": "2701979016",
                                          "sequence_id": "1",
                                          "etag": "1",
                                          "sha1": "9d976863fc849f6061ecf9736710bd9c2bce488c",
                                          "name": "file Tue Jul 24 145436 2012KWPX5S.csv"
                                      },
                                      {
                                          "type": "file",
                                          "id": "2698211586",
                                          "sequence_id": "1",
                                          "etag": "1",
                                          "sha1": "09b0e2e9760caf7448c702db34ea001f356f1197",
                                          "name": "file Tue Jul 24 010055 20129Z6GS3.csv"
                                      }
                                  ],
                                  "offset": 0,
                                  "limit": 2
                                }
"/files": 
    description: "File objects represent that metadata about individual files in Box, with attributes describing who created the file, when it was last modified, and other information. The actual content of the file itself is accessible through the /files/{id}/content endpoint"
    "/{id}": 
        uriParameters: 
            "id": 
                displayName: "id"
                type: string
                required: true
                repeat: false
        get: 
            description: "<<A full file object is returned if the ID is valid and if the user has access to the file.>"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "file",
                                  "id": "5000948880",
                                  "sequence_id": "3",
                                  "etag": "3",
                                  "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                  "name": "tigers.jpeg",
                                  "description": "a picture of tigers",
                                  "size": 629644,
                                  "path_collection": {
                                      "total_count": 2,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          },
                                          {
                                              "type": "folder",
                                              "id": "11446498",
                                              "sequence_id": "1",
                                              "etag": "1",
                                              "name": "Pictures"
                                          }
                                      ]
                                  },
                                  "created_at": "2012-12-12T10:55:30-08:00",
                                  "modified_at": "2012-12-12T11:04:26-08:00",
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "owned_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "shared_link": {
                                      "url": "https://www.box.com/s/rh935iit6ewrmw0unyul",
                                      "download_url": "https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg",
                                      "vanity_url": null,
                                      "is_password_enabled": false,
                                      "unshared_at": null,
                                      "download_count": 0,
                                      "preview_count": 0,
                                      "access": "open",
                                      "permissions": {
                                          "can_download": true,
                                          "can_preview": true
                                      }
                                  },
                                  "parent": {
                                      "type": "folder",
                                      "id": "11446498",
                                      "sequence_id": "1",
                                      "etag": "1",
                                      "name": "Pictures"
                                  },
                                  "item_status": "active"
                                }
        post: 
            description: "<<Restores an item that has been moved to the trash. Default behavior is to restore the item to the folder it was in before it was moved to the trash. If that parent folder no longer exists or if there is now an item with the same name in that parent folder, the new parent folder and/or new name will need to be included in the request.>>"
            body: 
                "application/json": 
                    schema: "newFile"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "file",
                                  "id": "5859258256",
                                  "sequence_id": "3",
                                  "etag": "3",
                                  "sha1": "4bd9e98652799fc57cf9423e13629c151152ce6c",
                                  "name": "Screenshot_1_30_13_6_37_PM.png",
                                  "description": "",
                                  "size": 163265,
                                  "path_collection": {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          }
                                      ]
                                  },
                                  "created_at": "2013-01-30T18:43:56-08:00",
                                  "modified_at": "2013-02-07T10:56:58-08:00",
                                  "trashed_at": null,
                                  "purged_at": null,
                                  "content_created_at": "2013-01-30T18:43:56-08:00",
                                  "content_modified_at": "2013-02-07T10:56:58-08:00",
                                  "created_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "owned_by": {
                                      "type": "user",
                                      "id": "181757341",
                                      "name": "sean test",
                                      "login": "sean+test@box.com"
                                  },
                                  "shared_link": {
                                      "url": "https://seanrose.box.com/s/ebgti08mtmhbpb4vlp55",
                                      "download_url": "https://seanrose.box.com/shared/static/ebgti08mtmhbpb4vlp55.png",
                                      "vanity_url": null,
                                      "is_password_enabled": false,
                                      "unshared_at": null,
                                      "download_count": 0,
                                      "preview_count": 4,
                                      "access": "open",
                                      "permissions": {
                                          "can_download": true,
                                          "can_preview": true
                                      }
                                  },
                                  "parent": {
                                      "type": "folder",
                                      "id": "0",
                                      "sequence_id": null,
                                      "etag": null,
                                      "name": "All Files"
                                  },
                                  "item_status": "active"
                                }
        put: 
            description: "<<Used to update individual or multiple fields in the file object, including renaming the file, changing it’s description, and creating a shared link for the file. To move a file, change the ID of its parent folder. An optional If-Match header can be included to ensure that Box only accepts the upload if the sha1 checksum matches what is sent in the header.>>"
            headers: 
                "If-Match": 
                    type: string
                    required: false
                    repeat: false
            body: 
                "application/json": 
                    schema: "updateFile,lock"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "file",
                                  "id": "5000948880",
                                  "sequence_id": "3",
                                  "etag": "3",
                                  "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                  "name": "new name.jpg",
                                  "description": "a picture of tigers",
                                  "size": 629644,
                                  "path_collection": {
                                      "total_count": 2,
                                      "entries": [
                                          {
                                              "type": "folder",
                                              "id": "0",
                                              "sequence_id": null,
                                              "etag": null,
                                              "name": "All Files"
                                          },
                                          {
                                              "type": "folder",
                                              "id": "11446498",
                                              "sequence_id": "1",
                                              "etag": "1",
                                              "name": "Pictures"
                                          }
                                      ]
                                  },
                                  "created_at": "2012-12-12T10:55:30-08:00",
                                  "modified_at": "2012-12-12T11:04:26-08:00",
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "modified_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "owned_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "shared_link": {
                                      "url": "https://www.box.com/s/rh935iit6ewrmw0unyul",
                                      "download_url": "https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg",
                                      "vanity_url": null,
                                      "is_password_enabled": false,
                                      "unshared_at": null,
                                      "download_count": 0,
                                      "preview_count": 0,
                                      "access": "open",
                                      "permissions": {
                                          "can_download": true,
                                          "can_preview": true
                                      }
                                  },
                                  "parent": {
                                      "type": "folder",
                                      "id": "11446498",
                                      "sequence_id": "1",
                                      "etag": "1",
                                      "name": "Pictures"
                                  },
                                  "item_status": "active"
                                }
        delete: 
            description: "<<Discards a file to the trash. The etag of the file can be included as an ‘If-Match’ header to prevent race conditions>>"
            headers: 
                "If-Match": 
                    type: string
                    required: false
                    repeat: false
        "/content": 
            get: 
                description: "<<Retrieves the actual data of the file. An optional version parameter can be set to download a previous version of the file. If the file is available to be downloaded, the response will be a 302 Found to a URL at dl.boxcloud.com. The dl.boxcloud.com URL is not persistent. Clients will need to follow the redirect in order to actually download the file. The raw data of the file is returned unless the file ID is invalid or the user does not have access to it. If the file is not ready to be downloaded (i.e. in the case where the file was uploaded immediately before the download request), a response with an HTTP status of 202 Accepted will be returned with a Retry-After header indicating the time in seconds after which the file will be available for the client to download>>"
                queryParameters: 
                    "version": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "302": 
        "/versions": 
            get: 
                description: "<<If there are previous versions of this file, this method can be used to retrieve metadata about the older versions.>>"
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "file_version",
                                              "id": "672259576",
                                              "sha1": "359c6c1ed98081b9a69eb3513b9deced59c957f9",
                                              "name": "Dragons.js",
                                              "size": 92556,
                                              "created_at": "2012-08-20T10:20:30-07:00",
                                              "modified_at": "2012-11-28T13:14:58-08:00",
                                              "modified_by": {
                                                  "type": "user",
                                                  "id": "183732129",
                                                  "name": "sean rose",
                                                  "login": "sean+apitest@box.com"
                                              }
                                          }
                                      ]
                                    }
            "/current": 
                post: 
                    description: "<<f there are previous versions of this file, this method can be used to promote one of the older versions to the top of the stack. This actually mints a copy of the old version and puts it on the top of the versions stack. The file will have the exact same contents, the same SHA1/etag, and the same name as the original. Other properties such as comments do not get updated to their former values.>>"
                    body: 
                        "application/x-www-form-urlencoded": 
                            formParameters: 
                                "type": 
                                    type: string
                                    required: false
                                    repeat: false
                                "id": 
                                    type: string
                                    required: false
                                    repeat: false
                    responses: 
                        "200": 
                            body: 
                                "application/json": 
                                    example: |
                                        {
                                          "type": "file_version",
                                          "id": "871399",
                                          "sha1": "12039d6dd9a7e6eefc78846802e",
                                          "name": "Stark Family Lineage.doc",
                                          "size": 11,
                                          "created_at": "2013-11-20T13:20:50-08:00",
                                          "modified_at": "2013-11-20T13:26:48-08:00",
                                          "modified_by": {
                                              "type": "user",
                                              "id": "13711334",
                                              "name": "Eddard Stark",
                                              "login": "ned@winterfell.com"
                                          }
                                        }
            "/{version_id}": 
                uriParameters: 
                    "version_id": 
                        displayName: "version_id"
                        type: string
                        required: true
                        repeat: false
                delete: 
                    description: "<<Discards a specific file version to the trash>>"
                    headers: 
                        "If-Match": 
                            type: string
                            required: false
                            repeat: false
        "/{thumbnail_file_name}": 
            uriParameters: 
                "thumbnail_file_name": 
                    displayName: "thumbnail_file_name"
                    type: string
                    required: true
                    repeat: false
            get: 
                description: "<<Retrieves a thumbnail, or smaller image representation, of this file. Sizes of 32x32, 64x64, 128x128, and 256x256 can be returned. Currently thumbnails are only available in .png format and will only be generated for image file formats.>>"
                queryParameters: 
                    "min_height": 
                        type: string
                        required: false
                        repeat: false
                    "min_width": 
                        type: string
                        required: false
                        repeat: false
                    "max_height": 
                        type: string
                        required: false
                        repeat: false
                    "max_width": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
        "/copy": 
            post: 
                description: "<<Used to create a copy of a file in another folder. The original version of the file will not be altered.>>"
                body: 
                    "application/json": 
                        schema: "newFolder"
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "type": "file",
                                      "id": "5000948880",
                                      "sequence_id": "3",
                                      "etag": "3",
                                      "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                      "name": "tigers.jpeg",
                                      "description": "a picture of tigers",
                                      "size": 629644,
                                      "path_collection": {
                                          "total_count": 2,
                                          "entries": [
                                              {
                                                  "type": "folder",
                                                  "id": "0",
                                                  "sequence_id": null,
                                                  "etag": null,
                                                  "name": "All Files"
                                              },
                                              {
                                                  "type": "folder",
                                                  "id": "11446498",
                                                  "sequence_id": "1",
                                                  "etag": "1",
                                                  "name": "Pictures"
                                              }
                                          ]
                                      },
                                      "created_at": "2012-12-12T10:55:30-08:00",
                                      "modified_at": "2012-12-12T11:04:26-08:00",
                                      "created_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "modified_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "owned_by": {
                                          "type": "user",
                                          "id": "17738362",
                                          "name": "sean rose",
                                          "login": "sean@box.com"
                                      },
                                      "shared_link": {
                                          "url": "https://www.box.com/s/rh935iit6ewrmw0unyul",
                                          "download_url": "https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg",
                                          "vanity_url": null,
                                          "is_password_enabled": false,
                                          "unshared_at": null,
                                          "download_count": 0,
                                          "preview_count": 0,
                                          "access": "open",
                                          "permissions": {
                                              "can_download": true,
                                              "can_preview": true
                                          }
                                      },
                                      "parent": {
                                          "type": "folder",
                                          "id": "11446498",
                                          "sequence_id": "1",
                                          "etag": "1",
                                          "name": "Pictures"
                                      },
                                      "item_status": "active"
                                    }
        "/trash": 
            get: 
                description: "<<Retrieves an item that has been moved to the trash.>>"
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "type": "file",
                                      "id": "5859258256",
                                      "sequence_id": "2",
                                      "etag": "2",
                                      "sha1": "4bd9e98652799fc57cf9423e13629c151152ce6c",
                                      "name": "Screenshot_1_30_13_6_37_PM.png",
                                      "description": "",
                                      "size": 163265,
                                      "path_collection": {
                                          "total_count": 1,
                                          "entries": [
                                              {
                                                  "type": "folder",
                                                  "id": "1",
                                                  "sequence_id": null,
                                                  "etag": null,
                                                  "name": "Trash"
                                              }
                                          ]
                                      },
                                      "created_at": "2013-01-30T18:43:56-08:00",
                                      "modified_at": "2013-01-30T18:44:00-08:00",
                                      "trashed_at": "2013-02-07T10:49:34-08:00",
                                      "purged_at": "2013-03-09T10:49:34-08:00",
                                      "content_created_at": "2013-01-30T18:43:56-08:00",
                                      "content_modified_at": "2013-01-30T18:44:00-08:00",
                                      "created_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "modified_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "owned_by": {
                                          "type": "user",
                                          "id": "181757341",
                                          "name": "sean test",
                                          "login": "sean+test@box.com"
                                      },
                                      "shared_link": {
                                          "url": null,
                                          "download_url": null,
                                          "vanity_url": null,
                                          "is_password_enabled": false,
                                          "unshared_at": null,
                                          "download_count": 0,
                                          "preview_count": 0,
                                          "access": "open",
                                          "permissions": {
                                              "can_download": true,
                                              "can_preview": true
                                          }
                                      },
                                      "parent": {
                                          "type": "folder",
                                          "id": "0",
                                          "sequence_id": null,
                                          "etag": null,
                                          "name": "All Files"
                                      },
                                      "item_status": "trashed"
                                    }
            delete: 
                description: "<<Permanently deletes an item that is in the trash. The item will no longer exist in Box. This action cannot be undone.>>"
        "/comments": 
            get: 
                description: "<<Retrieves the comments on a particular file, if any exist.>>"
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "comment",
                                              "id": "191969",
                                              "is_reply_comment": false,
                                              "message": "These tigers are cool!",
                                              "created_by": {
                                                  "type": "user",
                                                  "id": "17738362",
                                                  "name": "sean rose",
                                                  "login": "sean@box.com"
                                              },
                                              "created_at": "2012-12-12T11:25:01-08:00",
                                              "item": {
                                                  "id": "5000948880",
                                                  "type": "file"
                                              },
                                              "modified_at": "2012-12-12T11:25:01-08:00"
                                          }
                                      ]
                                    }
        "/tasks": 
            get: 
                description: "<<Retrieves the comments on a particular file, if any exist.>>"
                queryParameters: 
                    "fields": 
                        type: string
                        required: false
                        repeat: false
                responses: 
                    "200": 
                        body: 
                            "application/json": 
                                example: |
                                    {
                                      "total_count": 1,
                                      "entries": [
                                          {
                                              "type": "task",
                                              "id": "1786931",
                                              "item": {
                                                  "type": "file",
                                                  "id": "7026335894",
                                                  "sequence_id": "6",
                                                  "etag": "6",
                                                  "sha1": "81cc829fb8366fcfc108aa6c5a9bde01a6a10c16",
                                                  "name": "API - Persist On-Behalf-Of information.docx"
                                              },
                                              "due_at": null
                                          }
                                      ]
                                    }
    "/content": 
        description: "Use the Uploads API to allow users to add a new file. The user can then upload a file by specifying the destination folder for the file. If the user provides a file name that already exists in the destination folder, the user will receive an error. A different Box URL, https://upload.box.com/api/2.0/files/content, handles uploads. This API uses the multipart post method to complete all upload tasks. You can optionally specify a Content-MD5 header with the SHA1 hash of the file to ensure that the file is not corrupted in transit."
        post: 
            description: "<<insert text or markdown here>>"
            headers: 
                "Content-MD5": 
                    type: string
                    required: false
                    repeat: false
            body: 
                "application/json": 
                    schema: "uploadFile"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "total_count": 1,
                                  "entries": [
                                      {
                                          "type": "file",
                                          "id": "5000948880",
                                          "sequence_id": "3",
                                          "etag": "3",
                                          "sha1": "134b65991ed521fcfe4724b7d814ab8ded5185dc",
                                          "name": "tigers.jpeg",
                                          "description": "a picture of tigers",
                                          "size": 629644,
                                          "path_collection": {
                                              "total_count": 2,
                                              "entries": [
                                                  {
                                                      "type": "folder",
                                                      "id": "0",
                                                      "sequence_id": null,
                                                      "etag": null,
                                                      "name": "All Files"
                                                  },
                                                  {
                                                      "type": "folder",
                                                      "id": "11446498",
                                                      "sequence_id": "1",
                                                      "etag": "1",
                                                      "name": "Pictures"
                                                  }
                                              ]
                                          },
                                          "created_at": "2012-12-12T10:55:30-08:00",
                                          "modified_at": "2012-12-12T11:04:26-08:00",
                                          "trashed_at": null,
                                          "purged_at": null,
                                          "content_created_at": "2013-02-04T16:57:52-08:00",
                                          "content_modified_at": "2013-02-04T16:57:52-08:00",
                                          "created_by": {
                                              "type": "user",
                                              "id": "17738362",
                                              "name": "sean rose",
                                              "login": "sean@box.com"
                                          },
                                          "modified_by": {
                                              "type": "user",
                                              "id": "17738362",
                                              "name": "sean rose",
                                              "login": "sean@box.com"
                                          },
                                          "owned_by": {
                                              "type": "user",
                                              "id": "17738362",
                                              "name": "sean rose",
                                              "login": "sean@box.com"
                                          },
                                          "shared_link": null,
                                          "parent": {
                                              "type": "folder",
                                              "id": "11446498",
                                              "sequence_id": "1",
                                              "etag": "1",
                                              "name": "Pictures"
                                          },
                                          "item_status": "active"
                                      }
                                  ]
                                }
"/comments": 
    description: "Comments are messages generated by Box users. Each message is tied to a specific file. You can create comments independently or create them as responses to other comments."
    post: 
        description: "<<Used to add a comment by the user to a specific file or comment (i.e. as a reply comment).>>"
        body: 
            "application/json": 
                schema: "newComment"
        responses: 
            "200": 
                body: 
                    "application/json": 
                        example: |
                            {
                              "type": "comment",
                              "id": "191969",
                              "is_reply_comment": false,
                              "message": "These tigers are cool!",
                              "created_by": {
                                  "type": "user",
                                  "id": "17738362",
                                  "name": "sean rose",
                                  "login": "sean@box.com"
                              },
                              "created_at": "2012-12-12T11:25:01-08:00",
                              "item": {
                                  "id": "5000948880",
                                  "type": "file"
                              },
                              "modified_at": "2012-12-12T11:25:01-08:00"
                            }
    "/{comment_id}": 
        uriParameters: 
            "comment_id": 
                displayName: "comment_id"
                type: string
                required: true
                repeat: false
        put: 
            description: "<<insert text or markdown here>>"
            body: 
                "application/x-www-form-urlencoded": 
                    formParameters: 
                        "message": 
                            type: string
                            required: false
                            repeat: false
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "comment",
                                  "id": "191969",
                                  "is_reply_comment": false,
                                  "message": "These tigers are cool!",
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "created_at": "2012-12-12T11:25:01-08:00",
                                  "item": {
                                      "id": "5000948880",
                                      "type": "file"
                                  },
                                  "modified_at": "2012-12-12T11:25:01-08:00"
                                }
        get: 
            description: "<<Used to retrieve the message and metadata about a specific comment. Information about the user who created the comment is also included.>>"
            responses: 
                "200": 
                    body: 
                        "application/json": 
                            example: |
                                {
                                  "type": "comment",
                                  "id": "191969",
                                  "is_reply_comment": false,
                                  "message": "These tigers are cool!",
                                  "created_by": {
                                      "type": "user",
                                      "id": "17738362",
                                      "name": "sean rose",
                                      "login": "sean@box.com"
                                  },
                                  "created_at": "2012-12-12T11:25:01-08:00",
                                  "item": {
                                      "id": "5000948880",
                                      "type": "file"
                                  },
                                  "modified_at": "2012-12-12T11:25:01-08:00"
                                }
        delete: 
            description: "<<Permanently deletes a comment.>>"
"/collaborations": 
    description: "Collaborations are Box’s equivalent of access control lists. They can be used to set and apply permissions for users or groups to folders."
    post: 
        description: "<<Used to add a collaboration for a single user or a single group to a folder. Descriptions of the various roles can be found here. Either an email address, a user ID, or a group id can be used to create the collaboration.>>"
        queryParameters: 
            "fields": 
                type: string
                required: false
                repeat: false
            "notify": 
                type: string
                required: false
                repeat: false
        body: 
            "application/json": 
                schema: "newCollab"
        responses: 
            "200": 
                body: 
                    "application/json": 
                        example: |
                            {
                              "type": "collaboration",
                              "id": "791293",
                              "created_by": {
                                  "type": "user",
                                  "id": "17738362",
                                  "name": "sean rose",
                                  "login": "sean@box.com"
                              },
                              "created_at": "2012-12-12T10:54:37-08:00",
                              "modified_at": "2012-12-12T11:30:43-08:00",
                              "expires_at": null,
                              "status": "accepted",
                              "accessible_by": {
                                  "type": "user",
                                  "id": "18203124",
                                  "name": "sean",
                                  "login": "sean+test@box.com"
                              },
                              "role": "editor",
                              "acknowledged_at": "2012-12-12T11:30:43-08:00",
                              "item": {
                                  "type": "folder",
                                  "id": "11446500",
                                  "sequence_id": "0",
                                  "etag": "0",
                                  "name": "Shared Pictures"
                              }
                            }
    "/{id}": 
        uriParameters: 
            "id": 
[...]
